body {
    width: 700px;
    margin: auto;
    font-size: 14pt;
    font-family: Charter, serif;
}

code {
    font-size: 12pt;
}

:link, :visited {
    text-decoration: none;
    color: #4D16C4;
}

:link:hover {
    text-decoration: underline;
}
